.brand-name{
    color: #007bff;
}
.sec-home{
    display: flex;
    align-items: center;
}
.home-heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#header{
    width: 100%;
    margin-top: 60px;
}

